*{
  padding: 0;
  margin: 0;
}

body{
  background-color: pink;
  max-width: 1400px;
  text-align: center;
  justify-content: center;
  margin: auto;
}

h1 {
  padding: 20px;
}

#stats{
  background-color: blue;
  text-align: center;
  max-width: 1000px;
  margin: auto;
  padding: 10px;
  color: white;
  visibility: hidden;
}

#game {
  width: 1000px;
  height: 500px;
  border: 1px solid black;
  margin: auto;
  overflow: hidden;
  visibility: hidden;
}

/* 🟢 OBSTACLE STYLING & ANIMATION */
/* left to the width of the game */
#block {
  width: 50px;
  height: 500px;
  background-color: black;
  position: relative;
  left: 1000px;
  /* animation: block 5s infinite; */
}
@keyframes block {
  0% {left:1000px}
  100%{left: -50%}
}


/* 🟢 HOLE STYLING AND ANIMATION */

#hole{
  width: 50px;
  height: 150px;
  background-color: aqua;
  position: relative;
  left: 1000px;
  top: -500px;
  /* animation: block 5s infinite; */
}


/* 🟢 CHARACTER STYLING */
#character{
  width: 20px;
  height: 20px;
  background-color: red;
  position: absolute;
  top: 300px;
  border-radius: 50%;
}
