* {
  padding: 0;
  margin: 0;
}

h1 {
  padding: 20px;
}

body {
  background-image: url(/assets/nyanBackground.gif);
  font-family:'Silkscreen', cursive;
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}
p{
  font-size: 20px;
}

a {
  text-decoration: none;
  color: white;
}
#mainContainer {
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: rgba(36, 0, 143, 0.968);
  border-radius: 25px;
  width: 1000px;
}

#main {
  display: inline-flex;
  padding: 25px;
  height: 305px;
}
#main>#img{
  width: 75%;
  display: flex;
  justify-content: space-around;
}

#img>img{

  margin: auto;
  width: 300px;
  height: auto;
}

#menu {
  display: flex;
  flex-direction: column;
  padding: 25px;
  width: 80%;
  text-align: center;
}

p{
  padding: 20px;
}

#characters{
  margin: auto;
  padding: 20px;
  width: 95%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

#characters>img{
  width: 100px;
  height: auto;
  padding: 10px;

}
